<h1>Mets la dose</h1>
<div class="ladose">
  <div class="nouveaucocktail">
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :name %>
  <%= f.association :ingredient %>
  <br>
  <%= f.submit %>
<% end %>
</div>

<%= link_to "Homepage", cocktails_path%>
</div>
